{% extends 'layout.html' %}

{% block title %}Apuntes y notas sobre la experiencia del proyecto{% endblock %}

{% block content %}
    <h2>Algunos comentarios</h2>
    <article>
        <p>Fue algo emocionante haber aprendido sobre python, me gusto mucho la estructura y la claridad del codigo.</p>
        <p>El framework Flask me pareció muy ordenado y organizado, pero resulta restrictivo en ciertos aspectos. La documentación en español es escasa o está desactualizada, y no poder poner los "checked" dentro de los elementos checkbox por defecto, de forma sencilla se volvio un inconveniente enorme. Para alguien que proviene de otros lenguajes y frameworks, no lo tomaria en cuenta para futuros proyectos.</p>
    </article>
    <article>
        <p>La curva de aprendizaje se vuelve más pronunciada cuando uno no domina muy bien el inglés y la documentación no está actualizada con las nuevas versiones.</p>
    </article>
    
{% endblock %}